.illustmap {
	width:			100%;
	max-width: 		520px;
	height:			auto;
	overflow:		hidden;
	margin:			0;
	position:		relative;	/* 相対位置指定 */
}
.illustmap .caption {
	width: 			100%;
	height:			100%;
	font-size:		200%;
	text-align: 		center;
	padding-top:		230px;
	color:			#fff;
}
.illustmap img{
	width: 100%;
}
.illustmap .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.illustmap:hover .mask {
	opacity:		1;	/* マスクを表示する */
}